# This is a sample build configuration for .NET Core.
# Check our guides at https://confluence.atlassian.com/x/5Q4SMw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: microsoft/dotnet:sdk

pipelines:
  default:
    - step:
        deployment: staging
        caches:
          - dotnetcore
        script: # Modify the comma`nds below to build your repository.
          - export PROJECT_NAME=src/UNObot
          - dotnet restore
          - dotnet build $PROJECT_NAME
    - step:
        name: Manual Build
        trigger: manual
        script:
          - export PROJECT_NAME=src/UNObot
          - dotnet restore
          - dotnet build $PROJECT_NAME
    - step:
        name: Manual Deploy
        trigger: manual
        script:
          - export PROJECT_NAME=src/UNObot
          - dotnet restore
          - dotnet build $PROJECT_NAME
          - pipe: atlassian/scp-deploy:0.3.1
            variables:
              USER: 'doggysazhi'
              SERVER: 'williamle.com'
              REMOTE_PATH: ' /mnt/backup/Projects/Test'
              LOCAL_PATH: 'src/UNObot'
              SSH_KEY: $SERVER_KEY
              DEBUG: 'true'
