image: mcr.microsoft.com/dotnet/sdk:5.0-windowsservercore-ltsc2022

pipelines:
  default:
    - step:
        deployment: Server
        caches:
          - dotnetcore
        script:
          - dotnet build -c Release
          - dotnet build src/UNObot -c Release
          - ls src/UNObot/bin/Release/net5.0/win-x64/plugins
  custom:
    manualdeploy:
      - step:
          caches:
            - dotnetcore
          name: Manual Build and Deploy
          script:
            - dotnet build -c Release
            - dotnet publish -c Release src/UNObot
            - rm -rf src/UNObot/bin/Release/net5.0/UNObot
            - mv src/UNObot/bin/Release/net5.0/win-x64/publish src/UNObot/bin/Release/net5.0/UNObot
            - >
              echo "{\"commit\": \"$BITBUCKET_COMMIT\", \"build\":\"$BITBUCKET_BUILD_NUMBER\"}" > src/UNObot/bin/Release/net5.0/UNObot/build.json
    manualbuild:
      - step:
          caches:
            - dotnetcore
          name: Manual Build
          script:
            - dotnet build -c Release
            - dotnet build src/UNObot -c Release
  branches:
    master:
      - step:
          deployment: Server
          caches:
            - dotnetcore
          script:
            - dotnet build -c Release
            - dotnet build src/UNObot -c Release
      - step:
          name: Deploy
          script:
            - dotnet build -c Release
            - dotnet publish -c Release src/UNObot
            - rm -rf src/UNObot/bin/Release/net5.0/UNObot
            - mv src/UNObot/bin/Release/net5.0/win-x64/publish/ src/UNObot/bin/Release/net5.0/UNObot
            - >
              echo "{\"commit\": \"$BITBUCKET_COMMIT\", \"build\":\"$BITBUCKET_BUILD_NUMBER\"}" > src/UNObot/bin/Release/net5.0/UNObot/build.json
