# This is a sample build configuration for .NET Core.
# Check our guides at https://confluence.atlassian.com/x/5Q4SMw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: microsoft/dotnet:sdk

pipelines:
  default:
    - step:
        deployment: staging
        caches:
          - dotnetcore
        script:
          - export PROJECT_NAME=src/UNObot
          - dotnet restore
          - dotnet build $PROJECT_NAME
    - step:
        name: Deploy
        trigger: manual
        script:
          - dotnet publish -c Release src/UNObot
          - mv src/UNObot/bin/Release/netcoreapp3.0/publish/ src/UNObot/bin/Release/netcoreapp3.0/UNObot
          - echo "$BITBUCKET_COMMIT $BITBUCKET_BUILD_NUMBER" > src/UNObot/bin/Release/netcoreapp2.1/UNObot/commit
          - pipe: atlassian/scp-deploy:0.3.1
            variables:
              USER: 'doggysazhi'
              SERVER: 'williamle.com'
              REMOTE_PATH: '/mnt/backup/Projects'
              LOCAL_PATH: 'src/UNObot/bin/Release/netcoreapp3.0/UNObot'
              DEBUG: 'true'
  custom:
    manualdeploy:
      - step:
          caches:
            - dotnetcore
          name: Manual Build and Deploy
          script:
            - export PROJECT_NAME=src/UNObot
            - dotnet restore
            - dotnet build $PROJECT_NAME
            - dotnet publish -c Release src/UNObot
            - mv src/UNObot/bin/Release/netcoreapp3.0/publish/ src/UNObot/bin/Release/netcoreapp3.0/UNObot
            - echo "$BITBUCKET_COMMIT $BITBUCKET_BUILD_NUMBER" > src/UNObot/bin/Release/netcoreapp2.1/UNObot/commit
            - pipe: atlassian/scp-deploy:0.3.1
              variables:
                USER: 'doggysazhi'
                SERVER: 'williamle.com'
                REMOTE_PATH: '/mnt/backup/Projects'
                LOCAL_PATH: 'src/UNObot/bin/Release/netcoreapp3.0/UNObot'
                DEBUG: 'true'
    manualbuild:
      - step:
          caches:
            - dotnetcore
          name: Manual Build
          script:
            - export PROJECT_NAME=src/UNObot
            - dotnet restore
            - dotnet build $PROJECT_NAME
  branches:
    reactbuttons:
      - step:
          caches:
            - dotnetcore
          script:
            - export PROJECT_NAME=src/UNObot
            - dotnet restore
            - dotnet build $PROJECT_NAME