image: mcr.microsoft.com/dotnet/sdk:5.0

pipelines:
  default:
    - step:
        deployment: Server
        caches:
          - dotnetcore
        script:
          - dotnet build -c Release
          - dotnet build src/UNObot -c Release
          - ls src/UNObot/bin/Release/net5.0/plugins
  custom:
    manualdeploy:
      - step:
          caches:
            - dotnetcore
          name: Manual Build and Deploy
          script:
            - dotnet build -c Release
            - dotnet publish -c Release src/UNObot
            - rm -rf src/UNObot/bin/Release/net5.0/UNObot
            - mv src/UNObot/bin/Release/net5.0/publish src/UNObot/bin/Release/net5.0/UNObot
            - >
              echo "{\"commit\": \"$BITBUCKET_COMMIT\", \"build\":\"$BITBUCKET_BUILD_NUMBER\"}" > src/UNObot/bin/Release/net5.0/UNObot/build.json
            - pipe: atlassian/scp-deploy:0.3.13
              variables:
                USER: 'doggysazhi'
                SERVER: 'williamle.com'
                REMOTE_PATH: '/mnt/backup/Projects'
                LOCAL_PATH: 'src/UNObot/bin/Release/net5.0/UNObot'
                DEBUG: 'true'
    manualbuild:
      - step:
          caches:
            - dotnetcore
          name: Manual Build
          script:
            - dotnet build -c Release
            - dotnet build src/UNObot -c Release
            - ls src/UNObot/bin/Release/net5.0/plugins
  branches:
    master:
      - step:
          deployment: Server
          caches:
            - dotnetcore
          script:
            - dotnet build -c Release
            - dotnet build src/UNObot -c Release
            - ls src/UNObot/bin/Release/net5.0/plugins
      - step:
          name: Deploy
          script:
            - dotnet build -c Release
            - dotnet publish -c Release src/UNObot
            - rm -rf src/UNObot/bin/Release/net5.0/UNObot
            - mv src/UNObot/bin/Release/net5.0/publish src/UNObot/bin/Release/net5.0/UNObot
            - >
              echo "{\"commit\": \"$BITBUCKET_COMMIT\", \"build\":\"$BITBUCKET_BUILD_NUMBER\"}" > src/UNObot/bin/Release/net5.0/UNObot/build.json
            - pipe: atlassian/scp-deploy:0.3.13
              variables:
                USER: 'doggysazhi'
                SERVER: 'williamle.com'
                REMOTE_PATH: '/mnt/backup/Projects'
                LOCAL_PATH: 'src/UNObot/bin/Release/net5.0/UNObot'
                DEBUG: 'true'
