image: mcr.microsoft.com/dotnet/sdk:5.0

pipelines:
  default:
    - step:
        deployment: Server
        caches:
          - dotnetcore
        script:
          - dotnet build -c Release
          - dotnet build src/UNObot -c Release
  custom:
    manualdeploy:
      - step:
          caches:
            - dotnetcore
          name: Manual Build and Deploy
          script:
            - dotnet build -c Release
    manualbuild:
      - step:
          caches:
            - dotnetcore
          name: Manual Build
          script:
            - dotnet build -c Release
            - dotnet build src/UNObot -c Release
  branches:
    master:
      - step:
          deployment: Server
          caches:
            - dotnetcore
          script:
            - dotnet build -c Release
            - dotnet build src/UNObot -c Release
